<h1>Add a new celebrity</h1>

<form action="/celebrities" method="POST">

  <label for="name">Name</label><br>
  <input type="text" name="name" id="name" placeholder="e.g: Nelly Furtado"><br>
  <br>

  <label for="occupation">Occupation</label><br>
  <input type="text" name="occupation" id="occupation" placeholder="e.g: Singer"><br>
  <br>

  <label for="catchPhrase">Catch Phrase</label><br>
  <input type="text" name="catchPhrase" id="catchPhrase" placeholder="e.g: I'm like a bird!"><br>
  <br>
  <br>

  <button type="submit">Send</button>
</form>
<br><hr>
<a href="/celebrities">Back to the list</a>